body, html {
    background-size: cover;
    background-image: url("img/Background-img.jpg");
    
   
}
.header {
    width: 320px;
    height: auto;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 50px;
}
.d_none {
    display: none;
}
.smallImg {
    display: flex;
    margin: 32px;
    cursor: pointer;
    transition: 300ms ease-in-out;
    border-radius: 12px;   
}
.smallImg img {
    width: 250px;
    height: 250px;
    border-radius: 12px;   
}
.smallImg:hover {
    transform: scale(1.2);
    box-shadow: 2px 2px 30px rgb(239, 243, 245);
}
#allImgs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 30px; 
}
.imagesRender {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(22, 41, 24, 0.853);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
}
.close img{ 
    width: 36px;
}
.imagesRender button {
    height: 60px;
    width: 80px;
    background-color: transparent;
    border: none;   
}
.imagesRender button:hover {
    transform: scale(1.2);
    transition: 300ms ease-in-out;
    cursor: pointer;  
}
.imageBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 26px;
    color: rgb(163, 225, 184);    
}
#content img {
    border-radius: 12px;
    max-height: 350px;
    max-width: 90%;   
}
.footer-img img{
    width: 80px;
    height: 80px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 30px;    
}
@media (max-width: 700px) {
    #content img {
    border-radius: 12px;
    max-height: 250px;
    max-width: 100%;    
}
}
@media (max-width: 470px) {
    .header {
    width: 250px;    
}
.footer-img{ 
    width: 50px;
    height: 50px;   
}
.imageBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    color: rgb(163, 225, 184);  
}
#content img {
    border-radius: 12px;
    max-height: 170px;
    max-width: 100%;  
}
}