body, html {
    background-image: url("img/Background-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    text-align: center;
    font-weight: 600;
    color: rgb(156, 156, 8);
}
h1 {
    font-size: 56px;
}
h2 {
    font-size: 38px;
}
p {
    font-size: 36px;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
.header {
    display: flex;
    justify-content: start;
    width: 250px;
    height: auto;
    padding-top: 30px;
    padding-left: 30px;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.footer-img { 
    display: flex;
    width: 50px;
    height: 50px;
    padding-left: 30px;
    padding-top: 50px;
    

}
.footer-links {
    display: flex;
    gap: 20px;
    padding-top: 50px;
    padding-right: 30px;
}
.footer-links a {
    text-decoration: none;
    color: rgb(156, 156, 8);
    font-size: 26px;
    font-weight: 600;
}